nav{width: 100%;
height: 100px;
background-color: darkblue;
color:white;}

img{width: 94%;}

a{color:white;}

footer{width: 100%;
height:176px;
color:white;
background-color: darkblue;}

.hhd{width: 10px;}
.isize{width: 19%;
    height: 272px;
  margin-right: 61px;}


    .galleiry{width: 100%;
    height: 271px;
    padding-top: 10px;
    border:1px solid black;
  background-color:gray}
.footdiv{width: 20%;
height:162px;
margin:auto;
padding-top: 13px;}

.mid{margin-left: 31%;}

.mainimage{background-image: url('http://s1.1zoom.net/big0/371/Canada_Gardens_Queen_471739.jpg');
width: 100%;
height: 400px;
background-repeat: no-repeat;
background-size:100% 632px;
z-index:1;}

.about{width: 100%;
height:230px;
padding-top: 10px;
background-color: #acd604;}
.aboutcon{
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;}

.serboar{width: 100%;
  padding-left: 2px;
}

.space{padding: 53px}

.Dropdown{width:18%;
  margin-left:52%;
height: 172px;
background-color: blue;
color: white;
z-index: 2;
position: absolute;}

.name{color: white;
font-size: 100px;
padding-top:162px}

.udname{color:#ff8100;
font-size:13px}

.contaner{width: 100%;
height: 300px;
background-color: gray;
border-bottom: 2px solid black;}

.holder{width:25%;
height: 80px;
margin-bottom: 13px;
margin-right: 16px;
border: 2px solid black;
}


@media only screen and (max-width: 800px) {
.name{padding-top: 17px;}
.aboutcon{padding-left: 7%;
    padding-right: 7%;}
.about{height: 260px;}
.mid{margin-right:5% }
footer{height:240px; }
.footdiv{height: 236px;}
}


nav{width: 100%auto;
height: 100px;
background-color: darkblue;
color:white;}

img{width: 94%;}

a{color:white;}

footer{width: 100%;
height:176px;
color:white;
background-color: darkblue;}

.hhd{width: 10px;}


.footdiv{width: 20%;
height:162px;
margin:auto;
padding-top: 13px;}

.mid{margin-left: 31%;}

.mainimage{background-image: url('http://s1.1zoom.net/big0/371/Canada_Gardens_Queen_471739.jpg');
width: 100%;
height: 400px;
background-repeat: no-repeat;
background-size:100% 632px;
z-index:1;}

.about{width: 100%;
height:230px;
padding-top: 10px;
background-color: #acd604;}
.aboutcon{
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;}

.serboar{width: 100%;
  padding-left: 2px;
}

.space{padding: 53px}

.Dropdown{width:18%;
  margin-left:52%;
height: 172px;
background-color: blue;
color: white;
z-index: 2;
position: absolute;}

.name{color: white;
font-size: 100px;
padding-top:162px}

.udname{color:#ff8100;
font-size:13px}

.contaner{width: 100%;
height: 300px;
background-color: gray;
border-bottom: 2px solid black;}

.holder{width:25%;
height: 80px;
margin-bottom: 13px;
margin-right: 16px;
border: 2px solid black;
}

@media screen and (max-width: 2712px) and (min-width: 1012px) {

  .name{padding-top: 43px;}
  .aboutcon{padding-left: 7%;
    padding-right: 7%;}
    .footdiv{height: 236px;}
    footer{height:240px; }

    .isize{margin-right:116px;
      height: 191px;}
      .holder{width: 27%;}
      .galleiry{height: 380px;}
}
@media only screen and (max-width: 798px) and (min-width:457px){
.name{padding-top: 120px;}
.aboutcon{padding-left: 7%;
    padding-right: 7%;}
.about{height: 260px;}
.mid{margin-right:5% }
footer{height:240px; }
.footdiv{height: 236px;}

.holder{width: 47%;}
.contaner{height: 377px;}
.isize{margin-right: 81px;
height: 155px;}
.galleiry{height: 201px;}
}

@media only screen and (max-width: 1044px) and (min-width:798px){
.holder{width: 25%;}
.isize{height: 218px;}
}

@media only screen and (max-width: 1012px) and (min-width:796px){
.name{padding-top: 78px;}
.aboutcon {
    padding-left: 4%;
    padding-right: 4%;}
footer{height: 242px;}
}
